@model GameBlog.Models.Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<head>
    <link href="@Url.Content("~/CSS/style.css")" rel="stylesheet" type="text/css" />
</head>

<container>
    <div id="posts">
        <ul>
            <li>
                <h1>@Model.Title</h1>
                <p>@Model.Content</p>
                <br />
                <h4>@Model.Category.Name, @Model.Date  ~ </h4>

                <br />
                <img class="icon" src="@Url.Content("~/Pictures/psCrossPink.png")" alt="IMAGES" />
                <a asp-controller="Home" asp-action="EditPost" asp-route-id="@Model.Id">Edit post</a>

                <br />
                            <img class="icon" src="@Url.Content("~/Pictures/psCirclePink.png")" alt="IMAGES" />
                <a asp-controller="Home" asp-action="Index">Back to main page</a>

                <br /><br />
                <img class="center" width="100" src="@Url.Content("~/Pictures/controllerPink.png")" alt="IMAGES" />
            </li>
        </ul>
    </div>
</container>